<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FlurryKey</key>
	<string>YOUR_FLURRY_API_KEY_HERE</string>
	<key>TapjoyAppId</key>
	<string>YOUR_TAPJOY_APP_ID_HERE</string>
	<key>TapjoySecretKey</key>
	<string>YOUR_TAPJOY_SECRET_KEY_HERE</string>
	<key>FacebookAppId</key>
	<string>YOUR_FACEBOOK_APP_ID_HERE</string>
	<key>FacebookClientToken</key>
	<string>YOUR_FACEBOOK_CLIENT_TOKEN_HERE</string>
	<key>SubscriptionSharedSecret</key>
	<string>YOUR_SUBSCRIPTION_SHARED_SECRET_HERE</string>
	<key>AdMobBannerUnitId</key>
	<string>YOUR_ADMOB_BANNER_UNIT_ID_HERE</string>
	<key>AdMobInterstitialUnitId</key>
	<string>YOUR_ADMOB_INTERSTITIAL_UNIT_ID_HERE</string>
</dict>
</plist>
